#e8zUwZ93XdC2_to {
  animation: e8zUwZ93XdC2_to__to 2000ms linear 1 normal forwards
}

@keyframes e8zUwZ93XdC2_to__to {
  0% {
    transform: translate(281px, 281px)
  }
  50% {
    transform: translate(281px, 281px);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1)
  }
  90% {
    transform: translate(281px, 169px)
  }
  100% {
    transform: translate(281px, 169px)
  }
}

#e8zUwZ93XdC2 {
  animation: e8zUwZ93XdC2_c_o 2000ms linear 1 normal forwards
}

@keyframes e8zUwZ93XdC2_c_o {
  0% {
    opacity: 0
  }
  50% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1)
  }
  60% {
    opacity: 0.15
  }
  100% {
    opacity: 0.15
  }
}

#e8zUwZ93XdC3_to {
  animation: e8zUwZ93XdC3_to__to 2000ms linear 1 normal forwards
}

@keyframes e8zUwZ93XdC3_to__to {
  0% {
    transform: translate(280.949417px, 276.057555px)
  }
  50% {
    transform: translate(280.949417px, 276.057555px);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1)
  }
  90% {
    transform: translate(281px, 383px)
  }
  100% {
    transform: translate(281px, 383px)
  }
}

#e8zUwZ93XdC3 {
  animation: e8zUwZ93XdC3_c_o 2000ms linear 1 normal forwards
}

@keyframes e8zUwZ93XdC3_c_o {
  0% {
    opacity: 0
  }
  50% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1)
  }
  60% {
    opacity: 0.15
  }
  100% {
    opacity: 0.15
  }
}

#e8zUwZ93XdC4_to {
  animation: e8zUwZ93XdC4_to__to 2000ms linear 1 normal forwards
}

@keyframes e8zUwZ93XdC4_to__to {
  0% {
    transform: translate(281.259475px, 276.238709px)
  }
  50% {
    transform: translate(281.259475px, 276.238709px);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1)
  }
  90% {
    transform: translate(188px, 222px)
  }
  100% {
    transform: translate(188px, 222px)
  }
}

#e8zUwZ93XdC4 {
  animation: e8zUwZ93XdC4_c_o 2000ms linear 1 normal forwards
}

@keyframes e8zUwZ93XdC4_c_o {
  0% {
    opacity: 0
  }
  50% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1)
  }
  60% {
    opacity: 0.15
  }
  100% {
    opacity: 0.15
  }
}

#e8zUwZ93XdC5_to {
  animation: e8zUwZ93XdC5_to__to 2000ms linear 1 normal forwards
}

@keyframes e8zUwZ93XdC5_to__to {
  0% {
    transform: translate(281px, 281px)
  }
  50% {
    transform: translate(281px, 281px);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1)
  }
  90% {
    transform: translate(188px, 330px)
  }
  100% {
    transform: translate(188px, 330px)
  }
}

#e8zUwZ93XdC5 {
  animation: e8zUwZ93XdC5_c_o 2000ms linear 1 normal forwards
}

@keyframes e8zUwZ93XdC5_c_o {
  0% {
    opacity: 0
  }
  50% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1)
  }
  60% {
    opacity: 0.15
  }
  100% {
    opacity: 0.15
  }
}

#e8zUwZ93XdC6_to {
  animation: e8zUwZ93XdC6_to__to 2000ms linear 1 normal forwards
}

@keyframes e8zUwZ93XdC6_to__to {
  0% {
    transform: translate(281px, 281px)
  }
  50% {
    transform: translate(281px, 281px);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1)
  }
  90% {
    transform: translate(374px, 330px)
  }
  100% {
    transform: translate(374px, 330px)
  }
}

#e8zUwZ93XdC6 {
  animation: e8zUwZ93XdC6_c_o 2000ms linear 1 normal forwards
}

@keyframes e8zUwZ93XdC6_c_o {
  0% {
    opacity: 0
  }
  50% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1)
  }
  60% {
    opacity: 0.15
  }
  100% {
    opacity: 0.15
  }
}

#e8zUwZ93XdC7_to {
  animation: e8zUwZ93XdC7_to__to 2000ms linear 1 normal forwards
}

@keyframes e8zUwZ93XdC7_to__to {
  0% {
    transform: translate(281px, 281px)
  }
  50% {
    transform: translate(281px, 281px);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1)
  }
  90% {
    transform: translate(374px, 222px)
  }
  100% {
    transform: translate(374px, 222px)
  }
}

#e8zUwZ93XdC7 {
  animation: e8zUwZ93XdC7_c_o 2000ms linear 1 normal forwards
}

@keyframes e8zUwZ93XdC7_c_o {
  0% {
    opacity: 0
  }
  50% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1)
  }
  60% {
    opacity: 0.15
  }
  100% {
    opacity: 0.15
  }
}

#e8zUwZ93XdC8 {
  animation: e8zUwZ93XdC8_c_o 2000ms linear 1 normal forwards
}

@keyframes e8zUwZ93XdC8_c_o {
  0% {
    opacity: 0
  }
  50% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1)
  }
  60% {
    opacity: 0.15
  }
  100% {
    opacity: 0.15
  }
}

#e8zUwZ93XdC10 {
  animation: e8zUwZ93XdC10_c_o 2000ms linear 1 normal forwards
}

@keyframes e8zUwZ93XdC10_c_o {
  0% {
    opacity: 0
  }
  85% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1)
  }
  95% {
    opacity: 1
  }
  100% {
    opacity: 1
  }
}

#e8zUwZ93XdC15 {
  animation: e8zUwZ93XdC15_c_o 2000ms linear 1 normal forwards
}

@keyframes e8zUwZ93XdC15_c_o {
  0% {
    opacity: 0
  }
  80% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1)
  }
  90% {
    opacity: 1
  }
  100% {
    opacity: 1
  }
}

#e8zUwZ93XdC20 {
  animation: e8zUwZ93XdC20_c_o 2000ms linear 1 normal forwards
}

@keyframes e8zUwZ93XdC20_c_o {
  0% {
    opacity: 0
  }
  75% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1)
  }
  85% {
    opacity: 1
  }
  100% {
    opacity: 1
  }
}

#e8zUwZ93XdC25 {
  animation: e8zUwZ93XdC25_c_o 2000ms linear 1 normal forwards
}

@keyframes e8zUwZ93XdC25_c_o {
  0% {
    opacity: 0
  }
  70% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1)
  }
  80% {
    opacity: 1
  }
  100% {
    opacity: 1
  }
}

#e8zUwZ93XdC30 {
  animation: e8zUwZ93XdC30_c_o 2000ms linear 1 normal forwards
}

@keyframes e8zUwZ93XdC30_c_o {
  0% {
    opacity: 0
  }
  65% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1)
  }
  75% {
    opacity: 1
  }
  100% {
    opacity: 1
  }
}

#e8zUwZ93XdC35 {
  animation: e8zUwZ93XdC35_c_o 2000ms linear 1 normal forwards
}

@keyframes e8zUwZ93XdC35_c_o {
  0% {
    opacity: 0
  }
  60% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1)
  }
  70% {
    opacity: 1
  }
  100% {
    opacity: 1
  }
}

#e8zUwZ93XdC40 {
  animation: e8zUwZ93XdC40_c_o 2000ms linear 1 normal forwards
}

@keyframes e8zUwZ93XdC40_c_o {
  0% {
    opacity: 0
  }
  55% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1)
  }
  65% {
    opacity: 1
  }
  100% {
    opacity: 1
  }
}

#e8zUwZ93XdC45 {
  animation: e8zUwZ93XdC45_c_o 2000ms linear 1 normal forwards
}

@keyframes e8zUwZ93XdC45_c_o {
  0% {
    opacity: 0
  }
  50% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1)
  }
  60% {
    opacity: 1
  }
  100% {
    opacity: 1
  }
}

#e8zUwZ93XdC51 {
  animation: e8zUwZ93XdC51__rd 2000ms linear 1 normal forwards
}

@keyframes e8zUwZ93XdC51__rd {
  0% {
    r: 20px
  }
  10% {
    r: 20px;
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1)
  }
  50% {
    r: 214px
  }
  100% {
    r: 214px
  }
}

#e8zUwZ93XdC52_to {
  animation: e8zUwZ93XdC52_to__to 2000ms linear 1 normal forwards
}

@keyframes e8zUwZ93XdC52_to__to {
  0% {
    transform: translate(281px, 281px)
  }
  10% {
    transform: translate(281px, 281px);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1)
  }
  50% {
    transform: translate(281px, 492px)
  }
  100% {
    transform: translate(281px, 492px)
  }
}

#e8zUwZ93XdC55_to {
  animation: e8zUwZ93XdC55_to__to 2000ms linear 1 normal forwards
}

@keyframes e8zUwZ93XdC55_to__to {
  0% {
    transform: translate(281px, 281px)
  }
  10% {
    transform: translate(281px, 281px);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1)
  }
  50% {
    transform: translate(281px, 62px)
  }
  100% {
    transform: translate(281px, 62px)
  }
}

#e8zUwZ93XdC58_to {
  animation: e8zUwZ93XdC58_to__to 2000ms linear 1 normal forwards
}

@keyframes e8zUwZ93XdC58_to__to {
  0% {
    transform: translate(281px, 281px)
  }
  10% {
    transform: translate(281px, 281px);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1)
  }
  50% {
    transform: translate(96px, 383px)
  }
  100% {
    transform: translate(96px, 383px)
  }
}

#e8zUwZ93XdC64_to {
  animation: e8zUwZ93XdC64_to__to 2000ms linear 1 normal forwards
}

@keyframes e8zUwZ93XdC64_to__to {
  0% {
    transform: translate(281px, 281px)
  }
  10% {
    transform: translate(281px, 281px);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1)
  }
  50% {
    transform: translate(466px, 384px)
  }
  100% {
    transform: translate(466px, 384px)
  }
}

#e8zUwZ93XdC73_to {
  animation: e8zUwZ93XdC73_to__to 2000ms linear 1 normal forwards
}

@keyframes e8zUwZ93XdC73_to__to {
  0% {
    transform: translate(281px, 281px)
  }
  10% {
    transform: translate(281px, 281px);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1)
  }
  50% {
    transform: translate(96px, 169px)
  }
  100% {
    transform: translate(96px, 169px)
  }
}

#e8zUwZ93XdC78_to {
  animation: e8zUwZ93XdC78_to__to 2000ms linear 1 normal forwards
}

@keyframes e8zUwZ93XdC78_to__to {
  0% {
    transform: translate(281px, 281px)
  }
  10% {
    transform: translate(281px, 281px);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1)
  }
  50% {
    transform: translate(466px, 169px)
  }
  100% {
    transform: translate(466px, 169px)
  }
}

#e8zUwZ93XdC89_ts {
  animation: e8zUwZ93XdC89_ts__ts 2000ms linear 1 normal forwards
}

@keyframes e8zUwZ93XdC89_ts__ts {
  0% {
    transform: translate(281px, 276px) scale(1, 1)
  }
  5% {
    transform: translate(281px, 276px) scale(1, 1);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1)
  }
  29.5% {
    transform: translate(281px, 276px) scale(2, 2)
  }
  100% {
    transform: translate(281px, 276px) scale(2, 2)
  }
}

#e8zUwZ93XdC89 {
  animation: e8zUwZ93XdC89_c_o 2000ms linear 1 normal forwards
}

@keyframes e8zUwZ93XdC89_c_o {
  0% {
    opacity: 1
  }
  18% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1)
  }
  28% {
    opacity: 0
  }
  100% {
    opacity: 0
  }
}

#e8zUwZ93XdC90_ts {
  animation: e8zUwZ93XdC90_ts__ts 2000ms linear 1 normal forwards
}

@keyframes e8zUwZ93XdC90_ts__ts {
  0% {
    transform: translate(281.004173px, 278.004883px) scale(1, 1)
  }
  10% {
    transform: translate(281.004173px, 278.004883px) scale(1, 1);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1)
  }
  15% {
    transform: translate(281.004173px, 278.004883px) scale(1.2, 1.2);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1)
  }
  20% {
    transform: translate(281.004173px, 278.004883px) scale(1.2, 1.2);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1)
  }
  25% {
    transform: translate(281.004173px, 278.004883px) scale(1, 1)
  }
  100% {
    transform: translate(281.004173px, 278.004883px) scale(1, 1)
  }
}